{% extends 'base.html'%} {% import 'macros.html' as macro %} {% block content %}

<div class="container">
    <h2 class="text-center">General News</h2>
    {{ macro.displayCategory(general) }}
</div>

<div class="container">
    <h2 class="text-center">Business News </h2>
    {{ macro.displayCategory(business) }}
</div>

<div class="container">
    <h2 class="text-center">Enterainment News</h2>
    {{ macro.displayCategory(entertainment) }}
</div>

<div class="container">
    <h2 class="text-center">Health</h2>
    {{ macro.displayCategory(health) }}
</div>

<div class="container">
    <h2 class="text-center">Science</h2>
    {{ macro.displayCategory(science) }}
</div>

<div class="container">
    <h2 class="text-center">Sport</h2>
    {{ macro.displayCategory(sport) }}
</div>

<div class="container">
    <h2 class="text-center">Technology</h2>
    {{ macro.displayCategory(tech) }}
</div>

{% endblock %}