{% macro displayCategory(categories) %}
<div>
    {% for news in categories %}
    <div class="col-md-4">
        <div>
            <li>{{ news.name }}</li>
        </div>
        <hr>
        <p>{{ news.description|truncate(100) }}</p>
        <hr>
        <a href="/news/{{ news.id }}"><button class="btn btn-outline-success">View News</button></a>
    </div>
    {% endfor %}
</div>
{% endmacro %} {% macro displayNews(channel) %}
<div class="container">
    <div class="row">
        {% for chan in channel %}
        <div class="col-md-4 mb-5">
            <h6>
                <i>{{ chan.title| truncate(50) }}</i>
            </h6>
            <img src="{{ chan.urlToImage }}" alt="{{ chan.title|truncate(10)}}" class="img-fluid">
            <div class="bg-white moreInfo">
                <p>{{ chan.description}}</p>
                <div>
                    <p>By: {{ chan.author }}</p>
                    <p>On: {{ chan.published }}</p>
                </div>
                <div class="text-center">
                    <a href="{{chan.url}}"><button class="btn btn-outline-secondary mt-2">View Article</button></a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <hr>
</div>
{% endmacro %}